.mc-wcb-export-box, .mc-wcb-exports-list {
	padding: 1rem 2rem;
}
.mc-wcb-export-box label {
    margin: 1rem 0;
    display: inline-block;
}
.mc-wcb-response {
	padding: 1rem 0;
	position: relative;
	min-height: 20px;
}
.mc-wcb-loader {
	display: none;
	position: absolute;
	top: 0;
}
.mc-wcb-export, .mc-wcb-export-result, .mc-wcb-download, .mc-wcb-date-picker {
	display: none;
}
.mc-wcb-date-picker.visible {
	display: block;
}